body {
    font-family: 'Open Sans';
    font-style: normal;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
}
.icon-medium {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-large {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}
a {
    color: #0088CC;
}
.icon-select-language {
    background-image: url(../img/icons/globe.png);
    background-size: contain;
}
.dropdown-language, .dropdown-country, .dropdown-number {
    position: relative;
    display: inline-block;
}
#dropdown-language-content, #dropdown-country-content {
    display: none;
    position: absolute;
    background-color: rgba(241, 241, 241, 0.65);
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    border-radius: 14px;
    animation: fade-in 0.08s ease-in;
}
#dropdown-country-content {
    left: 45%;
}
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
#dropdown-language-content a, #dropdown-country-content a {
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}
.dropdown-open {
    display: flex !important;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}
.dropdown-open {display: block;}
#dropdown-language-content .dropbtn:hover {background-color: #e7e7e7;}
#dropdown-country-content .dropbtn:hover {background-color: #00699D;}

.header-wrapper {
    border: 1px solid #E8E8E8;
}


.header {
    display: flex;
    height: 46px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 4px 24px;
    gap: 24px;
    max-width: 1200px;
}
.header-justify-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    height: 19px;
}
.text-header {
    color: #0088CC;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
#button-select-language {
    display: flex;
    height: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5px;
}
.icon-chevron-down {
    height: 10px;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
}
.main-index {
    gap: 42px;
}
.image-home-cover{
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}
.cover-text-home {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* line-height: 20px; */
    text-align: center;
    width: 100%;
}

.title-advanatges {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000;

    margin: 0 auto;
}


.list-advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    max-width: 1000px;
    margin: 0 auto;
}
.list-advantages li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    height: fit-content;
    width: 30%;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .list-advantages li {
        width: 50%;
    }
}

.list-advantages p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 17px; */
    text-align: center;
    color: #000;
}

.youget-icon-1 {
    background-image: url(../img/icons/youget-icon-1.svg);
}
.youget-icon-2 {
    background-image: url(../img/icons/youget-icon-2.svg);
}
.youget-icon-3 {
    background-image: url(../img/icons/youget-icon-3.svg);
}
.youget-icon-4 {
    background-image: url(../img/icons/youget-icon-4.svg);
}
.youget-icon-5 {
    background-image: url(../img/icons/youget-icon-5.svg);
}
.youget-icon-6 {
    background-image: url(../img/icons/youget-icon-6.svg);
}
.youget-icon-7 {
    background-image: url(../img/icons/youget-icon-7.svg);
}
.youget-icon-8 {
    background-image: url(../img/icons/youget-icon-8.svg);
}
.youget-icon-9 {
    background-image: url(../img/icons/youget-icon-9.svg);
}